@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
    background-image: url('/images/background-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}